:root {
  --typografy: "Quicksand", sans-serif;
  --redPrincipal: #e86060;
  --darkSecondary: #662323;
  --softGray: #bdbdbd;
  --gray: #828282;
  --black: #555555;
  --lightRed: #ff7676;
  --white: #ffffff;
  --mediumRed: #eb5757;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightRed);
  border-radius: 5rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--typografy);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 1.375rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/*====================================================
ASIDE
======================================================*/

.aside {
  background-color: var(--darkSecondary);
}

@media (min-width: 768px) {
  .aside {
    min-height: 90vh;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo__img {
  width: 15.625rem;
  height: 3.688rem;
}

.options {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .options {
    flex-direction: column;
  }
}

.nav li {
  list-style: none;
}

.nav a {
  color: var(--white);
}

.nav .nav__activado {
  color: var(--redPrincipal);
  position: relative;
}

.nav .nav__activado::before {
  content: "";
  position: absolute;
  left: -1rem;
  background-color: var(--redPrincipal);
  width: 0.313rem;
  height: 1.25rem;
}

/*====================================================
Main
======================================================*/

.main {
  grid-column: 2 / 5;
}

.search {
  position: relative;
}

@media (min-width: 768px) {
  .search {
    width: 32.75rem;
  }
}

.search__icon {
  position: absolute;
  right: 1rem;
  color: var(--gray);
}

input[type="text"] {
  border: 1px solid var(--gray);
  position: relative;
}

input[type="text"]:focus {
  outline-color: var(--gray);
}

.user__icon {
  color: var(--redPrincipal);
}

.detail-video {
  display: flex;
  align-items: center;
}
.detail-video__img img {
  width: 100%;
}

@media (min-width: 768px) {
  .detail-video__img img {
    height: 15.625rem;
    width: 15.625rem;
  }
}

.detail-video__banner {
  height: 15.625rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info__follow {
  color: var(--darkSecondary);
}

.btn {
  width: 7.313rem;
  border: 1px solid var(--redPrincipal);
  color: var(--redPrincipal);
  transition: background-color 250ms ease-in-out;
}
.btn:hover {
  background-color: var(--redPrincipal);
  color: var(--white);
  font-weight: 400;
}

.gallery__title {
  color: var(--redPrincipal);
  line-height: 1.75rem;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 10rem;
  height: 12.875rem;
  background-image: url("../img/adele21.jpg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.card__play {
  position: absolute;
  top: 40%;
}

.card__opts {
  position: absolute;
  top: 0;
  right: 0;
}

.card__title {
  color: var(--black);
  line-height: 1.125rem;
}
.card__author {
  color: var(--gray);
  line-height: 0.938rem;
}

/*====================================================
player
======================================================*/

.player {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}

@media (min-width: 768px) {
  .player {
    flex-direction: row;
    height: 10vh;
  }
}

.player__img img {
  width: 100%;
  height: 5rem;
}

@media (min-width: 768px) {
  .player__img img {
    width: 6.25rem;
    height: 6.25rem;
  }
}

.player__rectangle {
  background-color: var(--mediumRed);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .player__rectangle {
    justify-content: space-between;
    height: 6.25rem;
  }
}

.player__btn {
  width: 3rem;
  height: 3rem;
}

.player__play {
  background-color: var(--lightRed);
  border-radius: 50%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--white);
  width: 21px;
  height: 21px;
  border: 3px solid var(--white);
  border-radius: 50%;
  margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--lightRed);
  width: 16px;
  height: 16px;
  border: 3px solid var(--white);
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  background-color: var(--lightRed);
  width: 21px;
  height: 21px;
  border: 3px solid var(--white);
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--white);
  height: 5px;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    #fff calc(var(--lightRed) * 1%),
    black 0
  );
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    #ffff calc(var(--lightRed) * 1%),
    black 0
  );
  height: 5px;
}

input[type="range"]::-ms-track {
  background-color: #ffff;
  height: 3px;
}
