:root {
  --typografy: "Quicksand", sans-serif;
  --redPrincipal: #e86060;
  --darkSecondary: #662323;
  --softGray: #bdbdbd;
  --gray: #828282;
  --lightRed: #ff7676;
  --white: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--typografy);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.aside {
  background-color: var(--darkSecondary);
}

@media (min-width: 768px) {
  .aside {
    height: 90vh;
  }
}

.aside__title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.375rem;
}

.nav li {
  list-style: none;
}

.nav a {
  color: var(--white);
}

.nav .nav__activado {
  color: var(--redPrincipal);
  position: relative;
}

.nav .nav__activado::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  background-color: var(--redPrincipal);
  width: 0.313rem;
  height: 1.25rem;
}

.main {
  grid-column: 2 / 5;
  border: 5px solid black;
}

.player {
  grid-column: 1 / 5;
  border: 5px solid rebeccapurple;
}

@media (min-width: 768px) {
  .player {
    height: 10vh;
  }
}
